# Age when age in that base = base

Requirements: 

1. age_baseX = X
2. no digit in age_baseX is greater than X

In [7]:
def decimal_to_base_n(decimal_num, base):
    """Converts a decimal number to base n."""

    if decimal_num == 0:
        return "0"

    digits = []
    while decimal_num > 0:
        decimal_num, remainder = divmod(decimal_num, base)
        if remainder < 10:
            digits.append(str(remainder))
        else:
            # For bases greater than 10, use letters for digits
            digits.append(chr(ord('A') + remainder - 10))

    return ''.join(reversed(digits))

# Loop over all bases

for base in range(2, 60):
    # Loop over all ages
    for age in range(10, 1000):
        # convert decimal age to value in base
        age_baseX = decimal_to_base_n(age, base)
        # check if age_baseX is equal to base
        if age_baseX == str(base):
            print(f"Age: {age}, Base: {base}, Age in base: {age_baseX}")

Age: 10, Base: 10, Age in base: 10
Age: 12, Base: 11, Age in base: 11
Age: 14, Base: 12, Age in base: 12
Age: 16, Base: 13, Age in base: 13
Age: 18, Base: 14, Age in base: 14
Age: 20, Base: 15, Age in base: 15
Age: 22, Base: 16, Age in base: 16
Age: 24, Base: 17, Age in base: 17
Age: 26, Base: 18, Age in base: 18
Age: 28, Base: 19, Age in base: 19
Age: 40, Base: 20, Age in base: 20
Age: 43, Base: 21, Age in base: 21
Age: 46, Base: 22, Age in base: 22
Age: 49, Base: 23, Age in base: 23
Age: 52, Base: 24, Age in base: 24
Age: 55, Base: 25, Age in base: 25
Age: 58, Base: 26, Age in base: 26
Age: 61, Base: 27, Age in base: 27
Age: 64, Base: 28, Age in base: 28
Age: 67, Base: 29, Age in base: 29
Age: 90, Base: 30, Age in base: 30
Age: 94, Base: 31, Age in base: 31
Age: 98, Base: 32, Age in base: 32
Age: 102, Base: 33, Age in base: 33
Age: 106, Base: 34, Age in base: 34
Age: 110, Base: 35, Age in base: 35
Age: 114, Base: 36, Age in base: 36
Age: 118, Base: 37, Age in base: 37
Age: 122, Base: 38, Age in base: 38
Age: 126, Base: 39, Age in base: 39
Age: 160, Base: 40, Age in base: 40
Age: 165, Base: 41, Age in base: 41
Age: 170, Base: 42, Age in base: 42
Age: 175, Base: 43, Age in base: 43
Age: 180, Base: 44, Age in base: 44
Age: 185, Base: 45, Age in base: 45
Age: 190, Base: 46, Age in base: 46
Age: 195, Base: 47, Age in base: 47
Age: 200, Base: 48, Age in base: 48
Age: 205, Base: 49, Age in base: 49
Age: 250, Base: 50, Age in base: 50
Age: 256, Base: 51, Age in base: 51
Age: 262, Base: 52, Age in base: 52
Age: 268, Base: 53, Age in base: 53
Age: 274, Base: 54, Age in base: 54
Age: 280, Base: 55, Age in base: 55
Age: 286, Base: 56, Age in base: 56
Age: 292, Base: 57, Age in base: 57
Age: 298, Base: 58, Age in base: 58
Age: 304, Base: 59, Age in base: 59